/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.header {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/apple-pie.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  text-align: center;
  color: white;
  font-size: 36px;
  vertical-align: middle;
}

.cooking-infos, .recipe-info {
  padding: 50px;
}

.introduction {
  font-size: 34px;
  margin: 28px;
}

.content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients, .directions{
  width: 100%;
  list-style-position: inside;
  font-size: 26px;
  line-height: 1.5;
}

ul {
  list-style-type: '- ';
}
